@import url('/css/font.css');

body { font-family: Ubuntu; }

#newuser-form, #newgroup-form {
    display: none;
    padding: 20px;
    margin: 5px auto;
    background: #eee;
    border: 1px solid #444;
}

.action-buttons {
    text-align: right;
    width: 100px;
}

.action-buttons > div > div {
    margin: 2px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}