@import url('/css/font.css');
@import url('/css/popup.css');

body { font-family: Ubuntu; }

.item-part {
    display: none;
}

.active-item-part {
    display: block;
}

.active-nav {
    background: #434343;
    font-weight: bold;
}

.active-nav {
    color: #ccc;
}

.active-nav:hover {
    color: #434343;
}

.commenter-name {
    color: blue;
    font-weight: bold;
}

.item-box-header {
    margin: -10px 0 5px 0;
    border-bottom: 1px #e4e4e4 solid;
}

.item-box {
    margin: 10px auto 50px auto;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 4px;
    box-shadow: 0 0 2px #7e7e7e;
    border: 1px #dedede solid;
}

#bottom-box {
    background-color: #ffffff;
}

.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tag-list:after {
    clear: both;
}

.tag-list-item {
    margin: 0 4px 4px 0;
    padding: 5px;
    font-size: 0.9em;
    background: #444;
    color: #fff;
    float: left;
}

a.tag-remove-button {
    font-size: 0.8em;
    color: #dbdb48;
}

a.tag-remove-button:hover {
    color: #d97777;
    text-decoration: none;
}

.new-essay-solution {
    background: #ddd;
    padding: 10px 20px 10px 20px;
    border: #898989 1px solid;
    margin: -5px 0 10px 0;
}

.new-essay-solution > div > label {
    font-size: 0.8em;
}

.x-width-60px {
    width: 64px;
}

.x-width-110px {
    width: 110px;
}

.x-width-130px {
    width: 130px;
}

.x-width-520px {
    width: 512px;
}

.wysiwyg-viewer {
    overflow: auto;
    height: 500px;
}

.wysiwyg-act-viewer {
    overflow: auto;
    height: 150px;
}

#backButton {
    float: right;
}

#right-nav-header {
    font-weight: bold;
    font-size: 1.2em;
    background: #eee;
    padding: 8px 15px;
}

#right-nav {
    width: 240px;
    border-bottom: 1px solid #898989;
}

h3.panel-title > button {
    margin: 0 0 0 8px;
}

div.panel-heading > a.btn {
    margin: 0 0 0 8px;
}

#comments-area {
    margin: 0 0 20px 0;
}
