.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

div.popup label {
    width: 100%;
}

.popup {
    background-color: #fff;
    border: 1px #dedede solid;

    display: block;
    top: 10px;
    left: 5%;
    width: 95%;
    opacity: 0;
    padding: 15px;
    text-align: justify;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    overflow: : scroll;

    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    -ms-border-radius     : 4px;
    -o-border-radius      : 4px;
    border-radius         : 4px;

    -webkit-box-shadow : 0 0 2px #7e7e7e inset;
    -moz-box-shadow    : 0 0 2px #7e7e7e inset;
    -ms-box-shadow     : 0 0 2px #7e7e7e inset;
    -o-box-shadow      : 0 0 2px #7e7e7e inset;
    box-shadow         : 0 0 2px #7e7e7e inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlay:target+.popup {
    top: 10px;
    opacity: 1;
    visibility: visible;
}

.close {
    background-color: rgba(0, 0, 0, 1.0);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius : 2px;
    -moz-border-radius    : 2px;
    -ms-border-radius     : 2px;
    -o-border-radius      : 2px;
    border-radius         : 2px;
}

.close:before {
    color: rgba(255, 255, 255, 1.0);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 1.0);
}

.close:hover {
    background-color: rgba(64, 128, 128, 1.0);
}

.popup p, .popup div {
    margin-bottom: 10px;
}

.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
